.containerRedirect{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.redirect-c{
    display: flex;
    flex-direction: column;
}
.redirect-c p{
    width: 20%;
    align-self: center;
}

.redirect-c a{
    /* display: flex; */
    /* justify-content: center;   */
    width: 35%;
    margin: 0 auto;
    text-decoration: none;
}
.redirect-c button{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;

    font-size: 20px;
}